body {
  background: #f6f5ff;
}

#rainbowContainer {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.cloud {
  border-radius: 100%;
  background: white;
}

#cloud {
  position: absolute;
  width: 200px;
  height: 108px;
  background: #fff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  /* 	margin: 120px auto 20px; */
  z-index: 2;
}

#cloud:after,
#cloud:before {
  content: '';
  position: absolute;
  background: #fff;
  z-index: -1
}

#cloud:after {
  width: 114px;
  height: 110px;
  top: -28px;
  left: 21px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  box-shadow: -2px -13px 18px rgba(64, 64, 107, 0.05);

}

#cloud:before {
  width: 63px;
  height: 68px;
  top: -21px;
  right: 48px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  box-shadow: 1px 0px 33px rgba(64, 64, 107, 0.04);
}

.cloudLeft {
  position:absolute;
  left:-40px;
  bottom:45px;
      animation: float 5s linear infinite;

}

.cloudRight {
  position: absolute;
  bottom: 45px;
  right: -40px;
  animation: float 5s linear infinite;
}

#rainbow {
  list-style: none;
  border: none;
  height: 100%;
  box-sizing: border-box;
  border-radius: 100%;
  animation: float 5s linear infinite;
  -webkit-clip-path: inset(0 0 21% 0);
  clip-path: inset(0 0 21% 0);
}

#rainbow div {
  border: none;
  position: relative;
  border-radius: 100%;
  height: 90%;
  padding: 5%;
}

.insideRow {
  background: #f6f5ff;
  border: 0;
  position: absolute;
  display: relative;
}

.diamonds-left{
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 120px;
  left: -3px;
}

.diamonds-right{
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 115px;
  right: 0;
}

.diamonds-left div:nth-child(1){
  left: 7%;
  top: 32%;
}

.diamonds-left div:nth-child(2){
  top: 52px;
  left: 82px;
}

.diamonds-left div:nth-child(3){
  top: 15px;
  left: 48px;
}

.diamonds-right div:nth-child(1){
  left: 7%;
  top: 32%;
}

.diamonds-right div:nth-child(2){
  top: 52px;
  left: 82px;
}

.diamonds-right div:nth-child(3){
  top: 15px;
  left: 48px;
}

.diamond {
  transform: rotate(45deg);
  transform-origin: 0 100%;
  background: offwhite;
  background:white;
  width: 5px;
  height: 5px;
  position: absolute;
  z-index: 2;
}

.sparkle {
  animation: pulse 400ms linear infinite;
}


/* Animations
______________________________________________*/

@-webkit-keyframes float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes float{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.52);
    opacity: 0;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.52);
      opacity: 0.7;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.22);
      opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.52);
    box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.52);
    opacity: 0;

  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.52);
    box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.52);
    opacity: 0.7;

  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.52);
    box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.22);
    opacity: 0;

  }
}
